.update-doctor-container {
    margin-top: 5rem !important; 
    margin-bottom: 5rem !important;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background: #f4f4f4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.update-doctor-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.update-doctor-form {
    display: flex;
    flex-direction: column;
}

.update-doctor-form label {
    margin-top: 10px;
    font-weight: bold;
}

.update-doctor-form input {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.update-doctor-form button {
    margin-top: 20px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.update-doctor-form button:hover {
    background: #0056b3;
}
